<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Common.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CommonUtils.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GameKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Geometry.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Image.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ImageAnalysisKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LoggingKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MrFlap.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Tapping.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TestingTools.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>gnimag.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>identiti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>631212AC23253DC700C126B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>631212B923253DE300C126B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>631212DE2325746B00C126B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>631212F12325768000C126B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63121310232577E900C126B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6312136D2325791600C126B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>631213962325798E00C126B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>631213D523257EF600C126B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6312140D232587E300C126B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63121415232587E300C126B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63B40BC924250C72007A86E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63FABDB023917D6F0088FD77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
